:root {
    --primary-color: #c31432;
    --primary-color-rgb: 195, 20, 50;
    --secondary-color: #240b36;
    --secondary-color-rgb: 36, 11, 54;
    --secondary-color-fade: #2e1541;
    --text-color: #ffffff;
    --circle-size: 500px;
    --circle-percentage: 0;
    --dashed: 1330;
    --circle: 47%;
}

body {
    background: var(--secondary-color);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa';
}

.config-btn {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
}

.config-btn img {
    max-width: 45px;
    opacity: .5;
}

.config-btn:hover {
    cursor: pointer;
    background: var(--secondary-color-fade);
}

h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 35px;
    margin: 35px;
}

nav {
    width: 100%;
}

nav ul {
    width: max-content;
    margin: 0 auto;
    background-color: var(--secondary-color-fade);
    padding: 10px 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li {
    color: var(--text-color);

    padding: 20px 35px;
    border-radius: 17px;
    margin: 0px 10px;
    transition: 500ms;

    font-size: 14px;
    font-weight: 700;
}

nav ul li:nth-child(2) {
    margin: 0;
}

nav ul li:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

nav ul li.active {
    background-color: var(--primary-color);
}

#timer-container {
    width: var(--circle-size);
    height: var(--circle-size);
    margin: 50px;
    padding: 25px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color: var(--secondary-color-fade);
    transition: 300ms;
}

#timer-container.await {
    pointer-events: none;
    opacity: 0.7;
}

#timer-container:hover {
    cursor: pointer;
    filter: saturate(1.5);
}

#timer-progress {
    position: relative;
    width: calc(var(--circle-size) - 50px);
    height: calc(var(--circle-size) - 50px);
    border-radius: 50%;
    z-index: 1000;
}

#timer-progress svg {
    position: relative;
    width: calc(var(--circle-size) - 50px);
    height: calc(var(--circle-size) - 50px);
    z-index: 1000;
    transform: rotate(-90deg);
}

#timer-progress svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--secondary-color);
    stroke-width: 25;
    stroke-linecap: round;
    transform: translate(13px, 13px);
    cx: var(--circle);
    cy: var(--circle);
    r: var(--circle);
}

#timer-progress svg circle:nth-child(2) {
    stroke-dasharray: var(--dashed);
    stroke-dashoffset: var(--dashed);
}

#timer-progress svg circle:nth-child(2) {
    transition: 500ms;
    transition-timing-function: linear;
    stroke-dashoffset: calc(var(--dashed) - (var(--dashed) * var(--circle-percentage)) / 100);
    stroke: var(--primary-color);
}

#timer-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer-counter {
    font-size: 90px;
    margin-bottom: 30px;
    margin-top: 50px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#timer-controller {
    font-size: 30px;
    font-weight: 100;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    left: 0;
    bottom: -150vh;
    transition: 300ms;
    display: none;
}

.modal.show {
    bottom: 0;
    display: block;
}

.modal .modal-backdrop {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: rgba(var(--primary-color-rgb), .3);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition-delay: 1000ms;
    transition: 600ms;
}

.modal .modal-backdrop:hover{
    cursor: pointer;
}

.modal.show .modal-backdrop {
    opacity: 1;
}

.modal .modal-content {
    width: 100%;
    max-width: 720px;
    background-color: var(--secondary-color-fade);

    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    padding: 25px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.modal .modal-content .modal-title {
    margin-bottom: 45px;
}

.modal .modal-content .modal-title h1 {
    font-size: 30px;
    margin: 0;
}

.modal .modal-content .modal-body h2{
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 15px;
}

.timers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.input-group label {
    display: block;
    color: var(--text-color);
    margin-bottom: 7px;
}

.input-group input {
    height: 25px;
    padding: 10px;
    border-radius: 5px 15px 15px 15px;
    font-weight: bold;
    border: none;
}

.colors {
    margin-top: 25px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.colors .color-item {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
    border: 1px solid var(--text-color);
}

.colors .color-item:hover {
    cursor: pointer;
    background-color: var(--text-color);
}

.colors .color-item .color-block {
    width: 25px;
    height: 45px;
    border-radius: 5px;
}

.colors .color-item .color-block.primary {
    margin-right: 10px;
}