:root {
    --primary-color: #c31432;
    --primary-color-rgb: 195, 20, 50;
    --secondary-color: #240b36;
    --secondary-color-rgb: 36, 11, 54;
    --secondary-color-fade: #2e1541;
    --text-color: #fff;
    --circle-size: 500px;
    --circle-percentage: 0;
    --dashed: 1330;
    --circle: 47%;
}

body {
    background: var(--secondary-color);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa';
}

.config-btn {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
}

.config-btn img {
    max-width: 45px;
    opacity: .5;
}

.config-btn:hover {
    cursor: pointer;
    background: var(--secondary-color-fade);
}

h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 35px;
    margin: 35px;
}

nav {
    width: 100%;
}

nav ul {
    width: max-content;
    margin: 0 auto;
    background-color: var(--secondary-color-fade);
    padding: 10px 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li {
    color: var(--text-color);

    padding: 20px 35px;
    border-radius: 17px;
    margin: 0px 10px;
    transition: 500ms;

    font-size: 14px;
    font-weight: 700;
}

nav ul li:nth-child(2) {
    margin: 0;
}

nav ul li:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

nav ul li.active {
    background-color: var(--primary-color);
}

#timer-container {
    width: var(--circle-size);
    height: var(--circle-size);
    margin: 50px;
    padding: 25px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color: var(--secondary-color-fade);
    transition: 300ms;
}

#timer-container:hover{
    cursor: pointer;
    filter: saturate(1.5);
}

#timer-progress {
    position: relative;
    width: calc(var(--circle-size) - 50px);
    height: calc(var(--circle-size) - 50px);
    border-radius: 50%;
    z-index: 1000;
}

#timer-progress svg {
    position: relative;
    width: calc(var(--circle-size) - 50px);
    height: calc(var(--circle-size) - 50px);
    z-index: 1000;
}

#timer-progress svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #240b36;
    stroke-width: 25;
    stroke-linecap: round;
    transform: translate(13px, 13px);
    cx: var(--circle);
    cy: var(--circle);
    r: var(--circle);
}

#timer-progress svg circle:nth-child(2) {
    stroke-dasharray: var(--dashed);
    stroke-dashoffset: var(--dashed);
}

#timer-progress svg circle:nth-child(2) {
    transition: 500ms;
    stroke-dashoffset: calc(var(--dashed) - (var(--dashed) * var(--circle-percentage)) / 100);
    stroke: var(--primary-color);
}

#timer-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    z-index: 9999;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer-counter{
    font-size: 90px;
    margin-bottom: 30px;
    margin-top: 50px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#timer-controller{
    font-size: 30px;
    font-weight: 100;
}